{
  "extends": ["liferay"],
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "expect": false,
    "mock": false,
    "assertAsyncHttpRequest": false,
    "__MAGNET_STATE__": true,
    "__MAGNET_ROUTER__": true,
    "__MAGNET_COMPONENT__": true,
    "document": true,
    "IncrementalDOM": true,
    "window": true
  },
  "rules": {
    "indent": 0,
    "no-unused-vars": [2, {"args": "none"}]
  }
}
